---
import BaseLayout from '../layouts/BaseLayout.astro';
import TrustedBy from '../components/TrustedBy.astro';
import Testimonials from '../components/Testimonials.astro';
import siteConfig from '../data/site-config';
import Button from "../components/Button.astro";

---

<BaseLayout description={siteConfig.description} image={siteConfig.image}>
    <TrustedBy />
    <div class="mb-16 sm:mb-24">
        <h2 class="mb-12 text-xl font-serif font-medium sm:mb-16 sm:text-2xl text-center">As Featured In</h2>
        <div class="grid grid-cols-3 gap-4 bg-white">
          <div class="content-center">
            <a href="https://venturebeat.com/2016/07/19/shutterstock-contributor-keywords/">
              <img src="/800px-VentureBeat_VB_Logo.png" alt="VentureBeat logo">
            </a>
          </div>
          <div class="content-center">
            <a href="https://techcrunch.com/2018/11/28/phiar-nabs-3-million-for-an-ar-navigation-app-for-drivers/">
              <img src="/techcrunch-logo-1.png" alt="Techcrunch logo">
            </a>
          </div>
          <div class="content-center">
            <a href="https://www.newsweek.com/phiar-ar-app-gives-better-directions-while-driving-google-maps-1235092">
              <img src="/Newsweek_Logo.svg.png" alt="Newsweek logo">
            </a>
          </div>
        </div>
    </div>
    <Testimonials />
    <div class="mb-16 sm:mb-24 text-center">
      <h2 class="mb-12 text-xl font-serif font-medium sm:mb-16 sm:text-2xl text-center">Contact</h2>
      <p class="mb-4">What does success look like for your business?</p>
      <Button href="https://airtable.com/shruF2zNx0AvJ6FEX" target="_blank">Let's talk!</Button>
    </div>
</BaseLayout>
