---
import { Image } from 'astro:assets';
import profileImage from '../images/profile.png';
---

<header class="w-full max-w-xl mx-auto mb-12 sm:mb-16 text-center">
  <div class="flex justify-center">
    <a href="/">
      <Image src={profileImage} height="200" alt="Ivy's profile image" />
    </a>
  </div>
  <div class="mt-8">
    <h1 class="text-3xl leading-tight font-serif font-semibold sm:text-5xl sm:leading-tight">👋 Hi, I'm Ivy</h1>
    <h2 class="prose prose-dante sm:prose-lg mt-4">I specialize in technical leadership in AI and Machine Learning, helping companies build AI-driven products that customers love.</h2>
  </div>
</header>
